<div class="">
    <div class="row rowCustomBeige">
        <div class="col-md-10 col-md-offset-2">


            {% for key, monthDetail in returnCalHtml['month'] %}
                <div class="col-md-3">
                    <table class="table-condensed">
                        {#<br>KEY<br>
                        {{ dump(key) }}#}
                        {# ligne des jours de la semaine #}
                        <tr>
                            <td>&nbsp;</td>
                            {% for firstDay in monthDetail.firstDays %}
                                <td>{{ firstDay }}</td>
                            {% endfor %}
                        </tr>
                        {#{{ dump(monthDetail) }}#}
                        {% for key2, day in monthDetail.daysOfTheMonth.dayInMonth %}
                            <tr>
                                <td>
                                    {#KEY2 : {{ key2 }} <br>#}
                                    {#<pre>
                                        {{ dump(day) }}
                                    </pre>#}
                                    <a class="week" href="{{ day.linkToWeekArea }}">s{{ day.textToWeekArea }} </a>
                                </td>
                                {% for number in day.numbers %}
                                    {% for keyDay, dayDetail in number  %}
                                        {% if dayDetail[loop.index0].current %}
                                            {% set class = "cellcalendar" %}
                                        {% else %}
                                            {% set class = "cal_current_day" %}
                                        {% endif %}
                                        <td class="{{ class }}">
                                        {#{{ loop.index0 }}#}
                                        {#{% for temp in dayDetail  %}
                                                {{ dump(temp.link) }}
                                                {{ dump(temp.current) }}
                                                {{ dump(temp.week) }}
                                        {% endfor %}#}
                                            {#<pre>{{ dump(dayDetail[loop.index0].link) }}</pre>
                                            <pre>{{ dump(dayDetail[loop.index0].current) }}</pre>
                                            <pre>{{ dump(dayDetail[loop.index0].week) }}</pre>#}
                                            {#<pre>{{ dump(dayDetail) }}</pre>
                                            <pre>{{ dump(dayDetail) }}</pre>#}

                                            {% if dayDetail[loop.index0].link %}

                                                <a href="{{ dayDetail[loop.index0].link }}">
                                                    {{ keyDay }}
                                                </a>

                                                {#{% if dayDetail[loop.index0].current %}
                                                    CURRENT
                                                {% endif %}#}

                                            {% endif %}
                                            {#{{ dump(number)}}#}
                                        </td>
                                    {% endfor %}
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    {% if menuGaucheMonthAll2 %}
    <div id="menuGaucheMonthAll2">
        {% else %}
        <div class="">
            {% endif %}
            <div id="menuGauche">
                {% if siteSelection %}
                    {{ include('forms/siteFields.html.twig', siteSelection) }}
                {% endif %}
                {{ include('forms/areaFields.html.twig', areaSelection) }}
                {{ include('forms/roomFields.html.twig', roomSelection) }}
            </div>
        </div>
